<%= form_for event do |f| %>
  <% if event.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in event.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset id="events">
    <legend>Event details</legend>

    <div class="field">
      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name, :autofocus => (event.new_record?) ? true : false  %>
      </div>

      <div class="field">
        <%= f.label :summary %>
        <%= f.text_field :summary %>
      </div>

      <div class="field">
        <%= f.label :description %>
        <%= f.text_area :description , :id => "description", :class => "tinymce", :rows => 10, :cols => 100 %>
      </div>
    </div>
  </fieldset>

  <fieldset id="event_dates">
    <legend>Event date/time info</legend>
    <%= f.fields_for :scheduled_events do |se| %>

      <fieldset id="calendars">
        <legend>Add the event to these calendars</legend>

        <div class="field">
          <%= link_to "Add/Manage calendars", penn_station.calendars_path %>

          <div class="calendars">
            <% PennStation::Calendar.all.each do |calendar| %>
              <div class="field">
                <%= check_box_tag :calendar_ids, calendar.id, event.has_calendar?(calendar) ? true: false, :name => 'calendar[calendar_ids][]' %>
                <label><%= calendar.name %></label>
              </div>
            <% end %>
          </div>
        </div>
      </fieldset>

      <div>
        <div class="field">
          <%= se.label :starts_at %>
          <%= se.date_select :starts_at, {order: [:month, :day, :year]} %>
        </div>

        <div class="field">
          <%= se.label :ends_at %>
          <%= se.date_select :ends_at, {order: [:month, :day, :year]} %>
        </div>
      </div>

      <div class="field">
        <%= se.label :times %>
        <%= se.text_area :times ,:rows => 10, :cols => 40 %>
      </div>
    <% end %>
  </fieldset>

  <fieldset id="location">
    <legend>Location</legend>

    <%= f.fields_for :locations do |l| %>
      <div>
        <div class="field">
          <%= l.label :name %>
          <%= l.text_field :name %>
        </div>

        <div class="address">
          <%= l.fields_for :address do |a| %>
            <div class="field">
              <%= a.label :address1 %>
              <%= a.text_field :address1 %>
            </div>

            <div class="field">
              <%= a.label :address2 %>
              <%= a.text_field :address2 %>
            </div>

            <div class="field">
              <%= a.label :city %>
              <%= a.text_field :city %>
            </div>

            <div class="field">
              <%= a.label :state %>
              <%= a.text_field :state %>
            </div>

            <div class="field">
              <%= a.label :zipcode %>
              <%= a.text_field :zipcode %>
            </div>

            <div class="field">
              <%= a.label :directions %>
              <%= a.text_area :directions,:rows => 10, :cols => 100 %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </fieldset>

  <div class="actions"><%= f.submit 'Save' %></div>
<% end %>

