<% content_for :toolbar_links do %>
  <% if current_user.has_role?("admin") %>
    <li class="event"><a href="<%= new_event_path %>">Add a new event</a></li>
  <% end %>
<% end %>

<ol id="<%= controller.controller_name %>_index" class="index">
  <li class="title-row row">
    <ol class="">
      <li class="name">Name</li>
      <li class="status">Status</li>
      <li class="starts_at">Starts At</li>
      <li class="calendar">Calendar</li>
    </ol>
  </li>

  <% events.each do |event| %>
<%# binding.pry %>
<%# next if event.events.empty? %>
    <li id="<%= event.id %>" class="row <%= cycle("even", "odd") -%>">
      <ol class="cols">
        <li class="name"><a href="<%= edit_event_path(event) %>"><%= event.event.name %> <%= image_tag("edit.png") %></a></li>
        <li class="status"><%= event.status %></li>
        <li class="starts_at"><%= event.starts_at %></li>
      </ol>
    </li>
  <% end %>
</ol>
