<% content_for :toolbar_links do %>
  <ol class="row">
    <li><a href="<%= events_path %>">Back to all events</a></li>
    <% if current_user.has_role?("admin") %>
      <li><%= link_to "Delete this event", @event, method: :delete, data: { confirm: 'Are you sure?' }, class: "button delete_button" %></li>
    <% end %>
  </ol>
<% end %>

<h1>Edit <%= @event.name %></h1>
<%= render(:partial => "penn_station/events/form", :locals => {:event => @event}) %>
