<% content_for :toolbar_links do %>
  <ol class="row">
    <% if current_user.has_role?("admin") %>
      <li class="event"><a href="<%= new_event_path %>">Add a new event</a></li>
    <% end %>
  </ol>
<% end %>

<h1>Manage events</h1>

<ol id="<%= controller.controller_name %>_index" class="index">
  <li class="title-row row">
    <ol class="">
      <li class="name">Name</li>
      <li class="status">Status</li>
      <li class="starts_at">Starts</li>
      <li class="calendars">Calendars</li>
    </ol>
  </li>

  <% @events.each do |event| %>
    <li id="<%= event.id %>" class="row <%= cycle("even", "odd") -%>">
      <ol class="cols">
        <li class="name">
            <a href="<%= edit_event_path(event) %>"><%= event.name %>
              <%= image_tag("edit.png", class: "normal") %>
              <%= image_tag("edit_over.png", class: "hover") %>
            </a>
          </li>
        <li class="status"><%= event.scheduled_events[0].status %></li>
        <li class="starts_at"><%= event.scheduled_events[0].starts_at %></li>
        <li class="calendars"><%= event.scheduled_events.map(&:calendars).flatten.map(&:name).join(",") %></li>
      </ol>
    </li>
  <% end %>
</ol>
