<% content_for :toolbar_links do %>
  <ol class="row">
    <li><%= link_to "Back to all media", media_path, class: "button delete_button" %></li>
    <li><%= link_to "Back to slideshow", slideshow_path(@slide.slideshow) %></li>
    <li><%= link_to "Delete this slide", @slide, method: :delete, data: { confirm: 'Are you sure?' }, class: "button delete_button" %></li>
  </ol>
<% end %>

<div id="<%= controller.controller_name %>">
  <h1>Edit <%= @slide.title %></h1>
  <%= render(:partial => "penn_station/slides/form", :locals => {:slide => @slide}) %>
</div>
