
<% content_for :toolbar_links do %>
  <ol class="row">
    <li><%= link_to "Add a new slide", new_slide_path %></li>
  </ol>
<% end %>

<h1>Manage media</h1>

<ol id="<%= controller.controller_name %>_index" class="index">
  <li class="title-row row">
    <ol class="">
      <li class="name">Name</li>
      <li class="count">Number of Files</li>
    </ol>
  </li>

  <% @slides.each do |slide| %>
    <li id="<%= slide.id %>" class="row  <%= cycle("even", "odd") -%>">
      <ol class="cols">
        <li class="name"><a href="<%= edit_slide_path(slide) %>"><%= slide.name %> <%= image_tag("edit.png") %></a></li>
        <li class="count"><%= slide.uploaded_files.count %></li>
      </ol>
    </li>
  <% end %>
</ol>
