
  // *************************************************
  // media breaks
  // *************************************************

$desktop_min: 768px;
$tablet_min: $desktop_min;

  // *************************************************
  // layout
  // *************************************************

$max_width: 1152px;
$phone_default_padding: 5px;

  // *************************************************
  // fonts
  // *************************************************

$main_font: 'PT Sans';
$fallback_fonts: 'sans-serif';

  // *************************************************
  // body
  // *************************************************

$body_background_color: #fff;
$body_text_color: #353536;

  // *************************************************
  // header
  // *************************************************

$header_background_color: #fff;

  // *************************************************
  // navigation
  // *************************************************

$aux_nav_background_color: #05673b;
$aux_nav_link_color: #f7f5ed;
$aux_nav_link_color_hover: #fcfcf9;
$aux_nav_link_color_current: #f0f0d3;

$primary_nav_background_color: lightgray;
$primary_nav_separator_color: black;
$primary_nav_link_color: black;
$primary_nav_link_hover_color: white;
$primary_nav_link_current_color: $primary_nav_link_hover_color;

$breadcrumb_text_color: #5593c1;
$breadcrumb_link_color: #5593c1;
$breadcrumb_link_hover_color: #5593c1;

  // *************************************************
  // footer
  // *************************************************

$sticky_footer_height: 3em;
$footer_background_color: lightgreen;
$footer_color: black;

  // *************************************************
  // contact form
  // *************************************************

$required_form_field_marker_color: red;
$contact_button_color: black;
$contact_button_background_color_hover: green;
$contact_button_text_color_hover: red;

