
@import 'variables';

// sticky footer: http://ryanfait.com/resources/footer-stick-to-bottom-of-page/

html, body { height: 100%; }

body {
  background-color: $body_background_color;
  color: $body_text_color;
  position: relative;
  width: 100%;

  .sticky-footer {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto (-1 * $mobile_sticky_footer_height);
  }

  .push { height: $sticky_footer_height; }

  .full-width {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .max-width {
    margin: 0 auto;
    padding: 0;
    max-width: $max-width;
  }

  @media screen and (min-width: $desktop_min) {
    .sticky-footer {
      margin: 0 auto (-1 * $sticky_footer_height);
    }
  }
}
