
@import 'variables';

.form_submission {
  margin-top: 40px;

  .error_messages {
    background-color: #EEE;
    border: 2px solid black;
    margin: 20px 0 30px 0;
    padding: 10px;

    h3 { margin: 0 0 10px 0; }

    ul {
      list-style: none;

      li {
        color: red;
        margin-bottom: 5px;
      }
    }
  }

  p.required { color: red; }

  dt.required:before,
  label.required:before {
    color: $required_form_field_marker_color;
    content: "*";
  }

  dl {
    clear: both;
    margin: 0 0 20px 0;
    overflow: auto;
    width: 100%;

    dt {
      float: left;
      width: 140px;
      margin-top: 5px;
    }

    dd {
      float: left;

      * {
        background: white;
        border: 3px solid #5693c2;
      }

      input { width: 209px; }
    }

    dd.text_area {
      clear: both;

      textarea {
        clear: both;
        height: 204px;
        margin-top: 10px;
        width: 1011px;
      }
    }
  }

  input[name='commit'] {
    background-color: #5693c1;
    box-shadow: 0 1px 0 rgba(34,30,31,.49);
    -moz-box-shadow: 0 1px 0 rgba(34,30,31,.49);
    -webkit-box-shadow: 0 1px 0 rgba(34,30,31,.49);
    color: $contact_button_color;
    display: block;
    height: 49px;
    opacity: 1;
    width: 100%;

    &:hover {
      background-color: $contact_button_background_color_hover;
      color: $contact_button_text_color_hover;
    }
  }

  .captcha_label {
    margin: 40px 0;

    dt { width: 260px; }

    dd {
      input { width: 50px; }
    }
  }

  #captcha_explanation {
    color: #999;
    margin-left: 45px;
  }

  #captcha_explanation_text { display: none; }

  #captcha_explanation_text.show { display: block; }
}
