
@import 'variables';

.content {
  padding: $phone_default_padding;

  // Keeps content image size the same for all screens.
  img {
    height: auto;
    width: auto;
  }

  section { }

  @media screen and (min-width: $desktop_min) {
    margin: 0 auto;
    padding: 0;

    section {
      margin: 0 auto;
    }
  }
}

