
@import 'variables';

footer {
  background-color: $footer_background_color;
  height: auto;
  padding: 0 $phone_default_padding;
  text-align: center;

   #site_credit {
     display: block;
     text-decoration: none;

     &:hover { text-decoration: underline; }
   }

  @media screen and (min-width: $desktop_min) {
    margin: 0 auto;
    max-width: $max_width;
  }
}
