
@import 'variables';

header {
  background-color: $header_background_color;
  padding: $phone_default_padding $phone_default_padding 0 $phone_default_padding;

  a#logo_link { display: inline-block; }

  @media screen and (min-width: $desktop_min) {
    margin: 0 auto;
    max-width: $max_width;
  }
}

