
@import 'variables';

nav#primary {
  padding-top: 10px;

  .menu-toggle {
    display: block;
    padding: 0 0 7px;
  }

  /* This is the checkbox */
  #menu_toggle {
    left: -9999px;
    position: absolute;
    top: -9999px;
  }

  #menu_toggle:checked ~ .menu {
    display: block;
    position: absolute;
  }

  .menu {
    background: $primary_nav_background_color;
    display: none;
    padding: 5px;
    z-index: 1000;

    li {
      background: darken($primary_nav_background_color, 10%);
      border: 1px solid #000;
      margin: 0 0 1px 0;
      text-align: center;

      a {
        color: $primary_nav_link_color;
        text-decoration: none;

        &:hover { color: $primary_nav_link_hover_color; }
      }

      &.separator { display: none; }
    }
  }

  @media screen and (min-width: $desktop_min) {
    .menu-toggle, #menu_toggle { display: none; }

    .menu {
      display: inline;
      float: right;
      list-style: none;

      li {
        background: none;
        border: none;
        float: none;
        margin-bottom: 5px;

        a {
          display: inline-block;

          &:hover {
            background-color: none;
            color: $primary_nav_link_hover_color;
          }
        }
      }

      // Top level pages.
      > li {
        float: left;

        &.separator {
          border: 1px solid $primary_nav_separator_color;
          display: block;
          height: 1em;
          padding: 0;

          &:last-child { display: none; }
        }

        &:hover .dropdown { display: block; }

        > .dropdown {
          display: none;
          position: absolute;
          z-index: 1000;
        }
      }

      .dropdown {
        ol {
          background: $primary_nav_background_color;

          list-style-type: none;
          padding: 10px;
          width: auto;

          li {
            text-align: left;
            width: 100%;

            ol {
              margin: 0 0 0 30px;
              padding: 0;
              position: relative;
            }

            &.separator { display: none; }
          }
        }
      }
    }
  }
}
