
@import 'variables';

nav {
  ol {
    list-style: none;
    padding: 0;

    li {
      a { text-decoration: none; }
    }
  }

  @media screen and (min-width: $desktop_min) {
    overflow: auto;
  }
}
