@import 'variables';

.sitemap {
  margin-top: 25px;

  ol {
    li {
      margin: 10px 0;

      a:hover { text-decoration: underline; }
    }
  }

  > ol {
    > li { margin-bottom: 20px; }
  }

  @media screen and (min-width: $desktop_min) {
  }
}
