
@import 'variables';

nav#breadcrumbs {
  display: none;

  @media screen and (min-width: $desktop_min) {
    display: block;

    color: $breadcrumb_text_color;

    a {
      color: $breadcrumb_link_color;
      text-decoration: none;

      &:hover {
        color: $breadcrumb_link_hover_color;
        text-decoration: underline;
      }
    }
  }
}
