
@import 'variables';

// pennstation toolbar on frontend when user is logged in.

.full-width.pennstation-toolbar {
  * { border: none; }
  background-color: #0082a1;

  #pennstation_toolbar {
    margin: 0 auto;
    padding: 10px 44px 20px 44px;
    max-width: $max_width;

    div {
      display: inline-block;
      width: 33.3%;

      a {
        color: #ccc;
        text-decoration: underline;

        &:hover { color: darken(#ccc, 5%); }
      }
    }

    div:nth-child(1) { text-align: left; }
    div:nth-child(2) { text-align: center; }
    div:nth-child(3) { text-align: right; }

    @media screen and (min-width: $desktop_min) {
      padding: 10px 3px;
    }
  }
}
