/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, font, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
 margin: 0;
 padding: 0;
 border: 0;
 outline: 0;
 vertical-align: baseline;
}

/* remember to define focus styles! */
:focus { outline: 0; }

body {
 line-height: 1.25;
 color: black;
}

ol, ul { list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
table {
 border-collapse: separate;
 border-spacing: 0;
}

caption, th, td {
 text-align: left;
 font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
 content: "";
}

blockquote, q { quotes: "" ""; }


/* timymce uses these classes. */

img.image_left {
  float: left;
  margin-right: 25px;
  padding: 5px 10px 5px 0;
}

img.image_right {
  float: right;
  padding: 5px 0 5px 10px;
}

ol {
  padding-left: 30px;
  list-style-type: decimal;
}

ul {
  padding-left: 30px;
  list-style-type: disc;
}

ul ul          { list-style-type: circle; }
ul ul ul       { list-style-type: square; }
ul ul ul ul    { list-style-type: disc; }
ul ul ul ul ul { list-style-type: circle; }

ol ol          { list-style-type: upper-alpha; }
ol ol ol       { list-style-type: decimal; }
ol ol ol ol    { list-style-type: lower-alpha; }
ol ol ol ol ol { list-style-type: lower-roman; }

// clearfix: http://css-tricks.com/snippets/css/clear-fix/

.group:after {
  content: "";
  display: table;
  clear: both;
}

.group {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}
