
@import 'variables';

// This file contains all font related information for the site.
// All css text styles and colors go here.

// Example of how to include a google web font.
//@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic);

#missing_page { font-size: 3em; }

// Everything gets inherited from the body so sub-elements only need these if
// they are different.

body {
  font-family: $main_font, $fallback_fonts;
  font-size: 16px;
  font-style: inherit;
  font-weight: inherit;
}

header { }

nav#primary {
  // Add client requirements.

  .menu-toggle { font-size: 2em; }
}

nav#breadcrumbs {
  // Add client requirements.
}

.content {
  section {
    h1 {
      // Add client requirements.
    }

    h2 {
      // Add client requirements.
    }

    h3 {
      // Add client requirements.
    }

    h4 {
      // Add client requirements.
    }

    p {
      // Add client requirements.
    }
  }

  // Specific sections can be targeted here by name or type.
  //
  // section#about_us { ... }
  // section.contact-form { ... }
}

footer {
  // Add client requirements.
}

// Specific pages can be targeted by using the Page's 'ptype' attribute like this:
//
// [data-page-type="home_page"] {
//   header { ... }

//   nav#primary { ... }

//   nav#breadcrumbs { ... }

//   .content {
//     section { ... }
//   }
//
//   footer { ... }
// }

