
@import 'variables';

body {
  // Uncomment to help debug layout.
// * { border: 3px solid red; * { border: 2px solid green; * { border: 1px solid black; } } }

  .content {
    img {
      height: 50%;
      width: 50%;
    }
  }

  @media screen and (min-width: $desktop_min) {
    .max-width {
      max-width: $max_width;
    }

    .content {
      img {
        height: auto;
        width: auto;
      }
    }
  }
}
