
@import 'variables';

nav#primary {
  width: 100%;

  @media screen and (min-width: $desktop_min) {
    color: $primary_nav_link_color;
    margin: 0 auto;
    padding: 0;
    max-width: $max-width;

    .menu {

      li.separator { margin: 0 10px ; }

      li {
        a { padding-left: 1em; }
      }

      li.current {
        > a { color: $primary_nav_link_current_color; }
      }

      > li {
        > a { padding-left: 0; }

        > .dropdown {
          background: url(image_path("downarrow.png")) no-repeat 0 6px;
          padding: 25px 0 0 0;
        }
      }

      .dropdown {
        ol {
          li {
            a:hover { background: url(image_path("sidearrow.png")) no-repeat; }
          }

          li.current {
            > a { background: url(image_path("sidearrow.png")) no-repeat; }
          }
        }
      }
    }
  }
}
