
<% is_current = cookie_view_section_properties?(page) ? 'current' : '' %>
<div class="section_properties <%= is_current %>">
  <h2>Section Properties</h2>
  <%= render partial: 'penn_station/sections/form', locals: { section: section } %>
</div>

<% is_current = cookie_view_content?(page) ? 'current' : '' %>
<div class="section_content <%= is_current %>">
  <h2>Section Content</h2>
  <% unless section.is_form? %>

    <%= form_for section do |f| %>
      <%= f.hidden_field :page_id %>
      <%= f.hidden_field :name %>

      <div>
        <%=f.text_area :content , :id => "#{section.name}_content", :class => "tinymce", :rows => 40, :cols => 100 %>

        <div class="moreinfolink" style="display: none;">
          <%=f.label :moreinfo_url, 'More info url' %>
          <%= f.text_field :moreinfo_url %>
        </div>
      </div>
    <% end %>

    <div id="file_dropper">
      <% url = page.home_page? ? 'Home' : page.url[1..-1] %>
      <form action="/admin/uploaded_files?folder_id=<%= url %>" class="dropzone">
        <div class="dz-default dz-message"><span>Drag-and-drop files here to upload, or click to browse files</span></div>
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
      </form>

      <ol style="clear: both;" class="uploaded_files_gallery">
        <% folder_name = page.home_page? ? 'Home' : page.url.sub('/','') %>
        <% folder = PennStation::Folder.where(name: folder_name).first %>

        <% if folder.present? %>
          <% folder.uploaded_files.each do |fname| %>
            <li>
              <% if fname.content_type.include? 'image' %>
                <a href="<%= fname.file.to_s %>" target="_blank"><img src="<%= fname.file.url(:tiny) %>"/></a>
              <% else %>
                <a href="<%= fname.file.to_s %>" target="_blank"><%= File.basename(fname.file.to_s) %></a>
              <% end %>
              <div class="obj_delete">X</div>
            </li>
          <% end %>
        <% end %>
      </ol>
    </div>
  <% else %>
    <%= render partial: 'penn_station/form_submissions/form', locals: { section: section } %>
  <% end %>
</div>

