<%=form_for section do |f| %>
  <% if section.errors.any? %>
    <div class="error_messages">
      <ul>
        <% for message in section.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :page_id %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :autofocus => (section.new_record?) ? true : false %>
  </div>

  <% if current_user.has_role?("pennstation_admin") %>
    <div class="field">
      <%= f.label :stype, 'Section type' %>
      <%= f.text_field :stype, value: section.stype %>
    </div>
  <% end %>

  <div class="radio_buttons">
    <span class="label">Section publication status</span>
    <div>
      <%= f.radio_button :published, "1", :checked => section.published %>
      <%=f.label :published, "Published"%>
    </div>

    <div>
      <%= f.radio_button :published, "0", :checked => !section.published %>
      <%=f.label :published, "Not published"%>
    </div>
  </div>

  <%= hidden_field_tag :save_op, 'save' %>

  <%# wrv. temporary until backend UI rewrite %>
  <br/>
  <br/>

  <% if controller.action_name == 'new' %>
    <div class="actions"><%= f.submit 'Save' %></div>
  <% end %>
<% end %>
