<% last_viewed_section = cookie_section(page) %>
<% display = cookie_view_page_properties?(page) ? "display: none;" : nil %>

<%= content_tag :div, { id: "sections_list", class: "panel", style: display } do %>
  <h2>Sections</h2>

  <ul id="panel_tabsx" class="sortable ui-sortable">
    <ul class="sortable ui-sortable">
      <%= render partial: 'penn_station/sections/list_element',
                locals: { sections: page.sections.orderable, page: page }
      %>
   </ul>

    <% unless page.sections.non_orderable.empty? %>
      <ul>
        <%= render partial: 'penn_station/sections/list_element',
                  locals: { sections: page.sections.non_orderable, page: page }
        %>
      </ul>
    <% end %>
  </ul>
<% end %>

<% page.sections.each do |section| %>
  <% is_current = (dom_id(section) == cookie_section(page)) ? 'current' : '' %>

  <div id="<%= section.name.gsub(/\s/,'_').downcase %>_panel" class="panel <%= is_current %>">
    <% begin %>
      <%= render(partial: "penn_station/section/#{section.stype.underscore}_content_form", :locals => {:page => page, :section => section}) %>
    <% rescue %>
      <%= render(partial: "penn_station/sections/content_form", :locals => {:page => page, :section => section}) %>
    <% end %>
  </div>
<% end %>

