<% last_viewed_section = cookie_section(page) %>

<% sections.each do |section| %>
  <% next if section.is_form? && !current_user.has_role?("pennstation_admin") %>

  <% class_info = (dom_id(section) == last_viewed_section) ? [ 'current' ] : [] %>
  <% class_info << classes(section) %>
  <% delete_link = link_to "X", section, method: :delete, data: { confirm: "Delete section #{section.name}\nAre you sure?" }, class: "section-delete" %>

  <%= content_tag :li, (section.name.capitalize + delete_link).html_safe,
                       {
                         id:               dom_id(section),
                         'data-published': section.published ? 'true' : 'false',
                         'data-panel-id':  "#{section.name.gsub(/[^a-zA-Z0-9]/,'_').downcase}_panel",
                         class:            class_info.join(' ')
                      }
  %>
<% end %>
