<% content_for :toolbar_links do %>
  <ol class="row">
    <li><a href="<%= pages_path %>">Back to all Pages</a></li>
    <li><a href="<%= edit_page_path(@page) %>">Back to '<%= @page.title %>'</a></li>
    <li><%= link_to "Delete this section", @section, method: :delete, data: { confirm: 'Are you sure?' }, class: "button delete_button" %></li>
  </ol>
<% end %>

<div id="<%= controller.controller_name %>">
  <h1>Edit <%= @section.name %></h1>
  <%= render(:partial => "penn_station/sections/form", :locals => {:section => @section}) %>
</div>
