<% content_for :toolbar_links do %>
  <ol class="row">
    <li><a href="<%= pages_path %>">Back to all Pages</a></li>
    <li><a href="<%= edit_page_path(@page) %>">Back to '<%= @page.title %>'</a></li>
  </ol>
<% end %>

<%= render 'penn_station/shared/flash_messages' unless flash.empty? %>

<h1>Creating Section for "<%= @page.title %>" Page</h1>
<%= render(:partial => "penn_station/sections/form", :locals => {:section => @section}) %>
