<% content_for :toolbar_links do %>
  <ol class="row">
    <li><%= link_to "Back to all media", media_path, class: "button delete_button" %></li>
  </ol>
<% end %>

<h1>Create a new folder</h1>
<%= render(:partial => "penn_station/folders/form", :locals => {:folder => @folder}) %>
