
<footer>
  <p id="copyright">&copy;<%= Date.today.year %>&nbsp;<%= defined?(::ORGANIZATION) ? ::ORGANIZATION : "Organization" %></p>
  <a id="site_credit" target="_blank" href="http://cctsbaltimore.org">Site Design by CCTS</a>
</footer>
