
<header>
  <% org = defined?(::ORGANIZATION) ? ::ORGANIZATION : "Organization" %>
  <%= link_to(image_tag("logo.png"), '/', id: 'logo', title: org, alt: org) %>

  <%= render :partial => find_shared_partial('navigation.aux') %>
</header>
