<%%= form_for <%= singular_name %> do |f| %>

  <%% if <%= singular_name %>.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <%% for message in <%= singular_name %>.errors.full_messages %>
          <li><%%= message %></li>
        <%% end %>
      </ul>
    </div>
  <%% end %>

  <%- model_attributes.each do |attribute| -%>
    <div class="field">
      <%%= f.label :<%= attribute.name %> %>
      <%%= f.<%= @db2view_type_mapper[attribute.type.to_sym] %> :<%= attribute.name %> %>
    </div>

  <%- end -%>

  <div class="actions"><%%= f.submit 'Save' %></div>

<%% end %>

