
<%% content_for :toolbar_links do %>
  <ol>
    <li><%%= link_to "Add a new <%= singular_name.humanize.downcase %>", new_<%= singular_name %>_path %></li>
 </ol>
<%% end %>

<h1>Manage <%= plural_name.humanize.downcase %></h1>

<ol id="<%%= controller.controller_name %>_index" class="index">
  <li class="title-row row">
    <ol>
      <li class="name">Name</li>
    </ol>
  </li>

  <%% @<%= plural_name %>.each do |<%= singular_name %>| %>
    <li id="<%%= <%= singular_name %>.id %>" class="row">
      <ol class="cols">
        <li class="name"><a href="<%%= edit_<%= singular_name %>_path(<%= singular_name %>) %>"><%%= <%= singular_name %>.name %> <%%= image_tag("edit.png") %></a></li>
      </ol>
    </li>
  <%% end %>
</ol>
