<%% content_for :toolbar_links do %>
<li><%%= link_to "Back to all <%= plural_name.humanize.downcase %>", <%= plural_name %>_path %></li>
<%% end %>

<h1>Create a new <%= singular_name.humanize.downcase %></h1>
<%%= render(:partial => "penn_station/<%= plural_name %>/form", :locals => {:<%= singular_name %> => @<%= singular_name %>}) %>
