<%% content_for :toolbar_links do %>
<li><%%= link_to "Back to all <%= plural_name.humanize.downcase %>", <%= plural_name %>_path %></li>
  <li><%%= link_to "Delete this <%= singular_name %>", @<%= singular_name %>, method: :delete, data: { confirm: 'Are you sure?' }, class: "button delete_button" %></li>
<%% end %>

<h1>Show <%%= @<%= singular_name %>.name %></h1>
<%%= render(:partial => "penn_station/<%= plural_name %>/form", :locals => {:<%= singular_name %> => @<%= singular_name %>}) %>
