
<%= form_for :form_submission, url: submission_url, html: { class: 'form_submission' } do |f| %>
  <% if form_submission.present? && form_submission.errors.any? %>
    <div class="error_messages">
      <h3>There was a problem with the form:</h3>
      <ul>
        <% for message in form_submission.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p class="required">* = Required Fields</p>

  <% JSON.parse(section.content)["fields"].each do |info_hash| %>
    <% is_required = info_hash['input_validation'].split(',').include?('presence') ? { class: 'required' } : {} %>
    <dl id="<%= info_hash['input_name'] %>">
      <dt><%= f.label info_hash.fetch('input_name'), info_hash.fetch('input_label', info_hash.fetch('input_name').capitalize), is_required %></dt>
      <dd class="<%= info_hash['input_type'] %>"><%= f.send(info_hash['input_type'], info_hash['input_name']) %></dd>
    </dl>
  <% end %>

  <%
    answer = session[:captcha_answer] = 2 + rand(8)
    num_1 = rand(answer)
    num_2 = answer - num_1
  %>

  <dl class="captcha_label">
    <dt><label for="form_submission_captcha_answer" class="required">Security Question: What is <%= num_1 %> plus <%= num_2 %>?</label></dt>
    <dd><%= f.text_field :captcha_answer, :value => '' %></dd>

    <a id="captcha_explanation" href='#'>Why do we ask this?</a>
    <p id="captcha_explanation_text">
      This security question is a technique to prevent computer scripts (also known as web bots) from submitting this form.
    </p>
  </dl>

  <%= f.hidden_field :url, :value => page.url %>
  <%= f.hidden_field :stype, :value => section.stype %>
  <%= f.submit 'Submit' %>
<% end %>
