
<footer>
  <div id="entity">
    <a href="http://cctsbaltimore.org" target="_blank">Center for Community Technology Services</a>
  </div>

  <div id="info" class="row">
    <div>PennStation CMS <%= PennStation::VERSION %>&nbsp;&nbsp;/&nbsp;&nbsp;</div>
    <div>&copy; 2010-<%= Time.now.strftime('%Y') %>&nbsp;&nbsp;/&nbsp;&nbsp;</div>
    <div><a href="mailto:info@cctsbaltimore.org">info@cctsbaltimore.org</a></div>
    <div style="clear: both;"></div>
  </div>
</footer>
