<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= defined?(::ORGANIZATION) ? ::ORGANIZATION + '::' : "" %>PennStation</title>

    <!--[if IE ]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <%= stylesheet_link_tag "penn_station/backend", media: "all" %>
    <%= stylesheet_link_tag "penn_station_blog/backend", media: "all" if defined?(PennStationBlog) %>
    <%= stylesheet_link_tag "penn_station/frontend", media: "all" %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id="pennstation">
      <header>
        <div id="controls" class="row">
          <a id="site_link" href="/" title="<%= defined?(::ORGANIZATION)  ? ::ORGANIZATION : '' %> Home Page">
            <%= image_tag("logo_backend.png") %>
            <span id="link_only"><%= defined?(::ORGANIZATION)  ? ::ORGANIZATION : '' %> Home Page</span>
          </a>

          <ul id="user">
            <li>You are logged in as <%= current_user.name %></li>
            <li><%= link_to "My Account", penn_station.user_path(current_user) %> | <%= link_to "Sign Out", penn_station.logout_path %></li>
          </ul>
        </div>

        <input type='checkbox' id='menu_toggle'/>
        <label for='menu_toggle' class='menu-toggle'>&#8801; Menu</label>

        <ul class="menu row">
          <li class="<%= "current" if controller.controller_name == 'pages' %>"><%= link_to "Pages", penn_station.pages_path %></li>
          <li class="<%= "current" if controller.controller_name == 'media' %>"><%= link_to "Media", penn_station.media_path %></li>
          <li class="<%= "current" if controller.controller_name == 'users' %>"><%= link_to "Users", penn_station.users_path %></li>
          <li class="<%= "current" if controller.controller_name == 'activities' %>"><%= link_to "History", penn_station.activities_path %></li>
          <li class="<%= "current" if controller.controller_name == 'events' %>"><%= link_to "Events", penn_station.events_path %></li>
          <li class="<%= "current" if controller.controller_name == 'form_submissions' %>"><%= link_to "Forms", penn_station.form_submissions_path %></li>

          <% if defined?(PennStationBlog) %>
            <% is_current = [PennStationBlog::PostsController, PennStationBlog::CategoriesController].include?(controller.class) %>
            <li <%= 'class="current"'.html_safe if is_current %>><%= link_to "Blog", penn_station_blog.posts_path %></li>
          <% end %>

          <li class="<%= "current" if controller.controller_name == 'analytics' %>"><%= link_to "Analytics", penn_station.analytics_path %></li>

          <% if defined?(PennStation::CLIENT_MODELS) %>
            <% PennStation::CLIENT_MODELS.each do |cmodel| %>
              <li class="<%= "current" if controller.controller_name == cmodel.pluralize %>"><%= link_to cmodel.pluralize.humanize, eval("penn_station.#{cmodel.pluralize}_path") %></li>
            <% end %>
          <% end %>
        </ul>

      </header>

      <div id="workspaces">

        <div id="<%= @workspace %>" class="workspace">
          <div id="penn_station_toolbar" class="row"><%= yield(:toolbar_links) %></div>
          <%= render 'penn_station/shared/flash_messages' unless flash.empty? %>
          <%= yield %>
        </div>
      </div>

      <%= render :partial => 'layouts/penn_station/footer' %>
    </div>
  </body>

  <%= javascript_include_tag "penn_station/frontend" %>
  <%= javascript_include_tag "penn_station/backend" %>

  <% if %w(new edit).include?(controller.action_name) %>
    <%= tinymce_assets %>
    <%= tinymce :content_css => asset_path('application.css') %>
  <% end %>

</html>
