<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %>::Login</title>

    <%= stylesheet_link_tag "penn_station/backend", media: "all" %>
    <%= javascript_include_tag "penn_station/backend" %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
  </head>

  <body id="<%= controller.controller_name.singularize %>" class="portal">
    <%= image_tag("pennstation_bkgrnd#{rand(3)}.jpg") %>
    <%= yield %>
  </body>
</html>

<!--
Login screen image attributions:

Image: https://www.flickr.com/photos/callison-burch/8711210859/sizes/l/
Changes: Cropped
License: https://creativecommons.org/licenses/by/2.0/

Image: https://www.flickr.com/photos/perspective/6176377363
Changes: None
License: https://creativecommons.org/licenses/by/2.0/

Image: https://www.flickr.com/photos/39908901@N06/8340974968/in/photolist-iZeiA-4PW5Gp-iZeC8-dH4Fgf-daQu7M-daQwCf-daQtB8-daQmj4-daQt6M-6o6m8D-4PW5DT-2yQGgP-7ZDuBD-2hUU4h-2yV6GY-5FyhCy-2hUUp3-2hUUYQ-2hQx6V-6ddCi1-6d9uWk-dKtFq2-2yQFPz-2yQH4R-4P9kRE-6da6wi-4RWTMK-daQwXC-ejBBaY-ejvT8c-ejBBbd-5411gc-6bhhLB-6bhfXB-6bmsEQ-6bmn4Y-6bmosC-6bmsio-6bmo6m-6bhcTr-6bhcwp-6bmnq5-6bhdZz-6bhbVP-6bmm4U-6bhgNx-6bhi8g-6bmoTy-6bhfyB-6bmr7A
Changes: None
License: https://creativecommons.org/licenses/by/2.0/
-->
