
@import 'engine_variables';

#pennstation {
  #workspaces {
    .new_admin,
    .edit_admin {
      .roles {
        margin-left: 25px;
        overflow: auto;

        .field {
          clear: both;
        }

        label {
          float: left;
          font-weight: normal;
        }

        input {
          margin: 8px 15px 0 0;
          float: left;
          width: auto;
        }
      }
    }
  }
}
