
@import 'engine_variables';

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.row { *zoom: 1; }
.row:before, .row:after { content: " "; display: table; }
.row:after { clear: both; }

body {
  margin: 0;
  padding: 0;
}

#pennstation {
  margin: 0 auto;
  padding: 0;
  line-height: 1;
  font-size: 68.75%;
  font-family: Verdana, "Lucida Grande", "Lucida Sans Regular", "Lucida Sans", "Bitstream Vera Sans", sans-serif;
  max-width: $total_width;
  min-height: $min_height;
}

