ol.slides_gallery,
ol.uploaded_files_gallery {
  list-style: none;
  margin: 15px 0 0 15px;
  padding: 0;
  overflow: auto;

  li {
    position: relative;
    border: 1px solid #AAA;
    float: left;
    padding: 15px;
    margin: 15px 5px 10px 5px;
    min-height: 90px;
    min-width: 80px;

    img,  {
      display: block;
      margin-bottom: 10px;
    }

    &:hover {
      background-color: #EEE;
      border: 1px solid #777;
    }

    .obj_delete {
      font-size: 10px;
      text-decoration: none;
      margin-right: 10px;
      position: absolute;
      bottom: 10px;
      left: 40px;
    }

    .obj_edit {
      font-size: 10px;
      text-decoration: none;
      position: absolute;
      bottom: 10px;
    }
  }
}
