
$total_width: 1152px;
$min_height: 750px;

$header_color: #1a94ec;

$footer_color: #fff;
$footer_background_color: #444;

$current_tab_color: #ffb21f;

$h1_color: #1a94ec;
$h2_color: #1a94ec;
$h3_color: #444;
$h4_color: #444;

$zebra_stripe: #fdf3ba;

// grid

$gutter: 3px;

@function grid-width($columns, $cols, $has-gutter:false) {
 @if $has-gutter {
   @return calc(((100% / #{$columns}) * #{$cols}) - #{$gutter});
 }
 @else {
   @return calc((100% / #{$columns}) * #{$cols});
 }
}
