
@import 'engine_variables';

footer {
  background: $footer_background_color;
  clear: both;
  color: $footer_color;
  line-height: 1.75em;
  margin: 25px auto 0 auto;
  max-width: $total_width;
  opacity: 0.75;
  padding: 5px 0 8px 0;
  text-align: center;

  #entity {
    font-size: 1.25em;
    line-height: 2.25em;
  }

  a {
    color: #fff;
    text-decoration: none;

    &:hover { text-decoration: underline; }
  }

  span { display: none; }

  // desktop and tablet
  @media screen and (min-width: 768px) {
    #info {
      display: inline-block;
      margin: 0 auto;

      div { float: left; }
    }
  }
}
