
@import 'engine_variables';

#pennstation {

  header {
    background: $header_color;
    line-height: normal;
    padding: 10px 15px 0 15px;

    #controls {
      width: grid-width(2,2);

      #site_link {
        float: left;
        width: grid-width(2,1);

        img { display: none; }

        #link_only {
          display: block;
          font-size: 1.5em;
        }
      }

      #user {
        float: left;
        list-style: none;
        margin: 0;
        padding: 0;
        width: grid-width(2,1);

        li {
          color: #fff;
          margin: 0 0 5px 0;
          text-align: right;

          a {
            color: #fff;
            text-decoration: none;
          }

          a:hover {
            color: #000;
            text-decoration: none;
          }
        }
      }
    }

    // desktop and tablet
    @media screen and (min-width: 768px) {
      #controls {
        width: grid-width(12,12);

        #site_link {
          float: left;
          width: grid-width(12,8);

          img { display: block; }

          #link_only { display: none; }
        }

        #user {
          float: left;
          width: grid-width(12,4);

          li { float: right; }
        }
      }
    }

    .menu-toggle {
      display: block;
      font-size: 2em;
      padding: 0 0 7px;
    }

    /* This is the checkbox */
    #menu_toggle {
      left: -9999px;
      position: absolute;
      top: -9999px;
    }

    #menu_toggle:checked ~ .menu {
      display: block;
    }

    .menu {
      background: $header_color;
      display: none;
      list-style: none;
      margin: 0 0 0 -15px;
      padding: 5px;
      position: absolute;
      width: 100%;
      z-index: 100;

      li {
        background-color: #fff;
        border: 1px solid #fff;
        color: #29323b;
        margin: 0 0 1px 0;
        padding: 5px 0;
        text-align: center;

        &:hover { background-color: $current_tab_color; }

        a {
          text-decoration: none;

          &:hover { color: #5c656e; }
        }

        &.current {
          background-color: $current_tab_color;
          border: 1px solid $current_tab_color;
          display: block;

          a { color: #444; }
        }
      }
    }

    // desktop and tablet
    @media screen and (min-width: 768px) {
      #menu_toggle, .menu-toggle {
        display: none;
      }

      .menu {
        display: block;
        margin: 20px 0 0 0;
        padding: 0;
        position: relative;
        width: grid-width(12,12);
        z-index: 0;

        li {
          display: block;
          float: left;
          margin: 0 3px 0 0;
          text-align: center;
          width: grid-width(12,1,true);
        }
      }
    }
  }
}
