
@import 'engine_variables';

#pennstation {
  #workspaces {
    #pages_index {
      list-style: none;
      margin: 0 0 20px 0;
      padding: 0;

      li.row {
        border-bottom: 1px solid #ddd;
        overflow: auto;
        padding: 0;
        margin: 0;
//border: 1px solid black;
      }

      ol {
        clear: both;
        list-style: none;
        margin: 0 0 0 10px;
      }

      ol.cols  {
        clear: both;
        padding: 3px;
        height: 80px;

        &:hover { background-color: $zebra_stripe; }

        a:hover { text-decoration: underline; }
        a:visited { color: #444; }
        a { color: #444; }

        .add-sub-page,
        .title {
          padding: 5px 0 0 5px;
          float: left;
          width: 500px;

          a  {
            padding: 0;
            margin: 10px 0 0 0;
            display: block;

            img.normal { display: inline; border: none;}
            img.hover { display: none; border: none;}

            img.normal2 { display: inline; border: none;}
            img.hover2 { display: none; border: none;}

            &:hover {
              img.normal { display: none; border: none;}
              img.hover { display: inline; border: none;}

              img.normal2 { display: none; border: none;}
              img.hover2 { display: inline; border: none;}
            }
          }

        }

        li.details {
          float: right;
          margin: 0;
          padding: 0;

          ol { padding: 0; margin: 0; }

          li.page-type { width: 100px; }
          li.published {
            width: 85px;
            img { margin: -7px 0 0 25px; }
          }
          li.updated-at { width: 185px; }
        }

        li {
          float: left;
          padding: 0;
          margin: 2px 0;
        }

        &:after {
          clear: both;
        }
      }

      li.rows {
        clear: both;
      }
    }

    .sortable {
      list-style: none;

      ol {
        list-style: none;
        margin: 10px 0 10px 0;

        .row {
          height: auto;

          div {
            padding: 5px;
            &:hover { background-color: $zebra_stripe; };
          }
        }
      }
    }

  }
}
