
@import 'engine_variables';

#pennstation {
  #sections_list {
    border-left: 2px solid #999;
    display: block;
    float: right;
    margin: 0 10px 0 0;
    max-width: 25%;
    padding: 0 0 0 10px;
  }

  .section_properties {
    display: none;
    float: left;

    &.current { display: block; }
  }

  .section_content {
    float: left;
    display: none;

    &.current { display: block; }

    #file_dropper {
      form {
        border: 2px solid black;
        min-height: 200px;
      }
    }
  }

  #panel_tabsx {
    margin: 0;
    padding: 0;

    ul {
      margin: 0 0 10px 0;
      padding-left: 10px;
    }

    ul:first-child { border-bottom: 3px solid black; }

    li {
      list-style: none;
      margin: 3px 0;
      padding: 10px 5px;

      overflow: hidden;
      text-overflow: ellipses;
      white-space: nowrap;
      width: 250px;

      &.current {
        background-color: $current_tab_color;
        opacity: .60;
      }

      &:hover {
        color: white;
        background-color: $current_tab_color;
      }
    }

    li.group-section {
      border-bottom: 2px solid #aaa;
      border-top: 2px solid #ccc;
      background-color: #eee;
      opacity: .75;
    }

    li[data-published="true"] { color: green; }

    li[data-published="false"] { color: red; }

    .section-delete {
      float: right;
      margin-left: 3px;
    }
  }

  .panels {

    .panel {
      @import "content";

      display: none;
      margin: 30px 0 0 30px;
      overflow: auto;
      padding: 0;

      h2 {
        margin: 0 0 25px 0;
        padding: 0;
      }

      a:hover { text-decoration: underline; }

      &.current { display: block; }

      label {
        display: block;
        padding: 8px 0 4px;
        font-weight: bold;
        color: #333;
      }

      input[type=text], input[type=file], input[type=password], textarea, select {
        font-family: Verdana, "Lucida Grande", "Lucida Sans Regular", "Lucida Sans", "Bitstream Vera Sans", sans-serif;
        font-size: 1em;
        margin-bottom: 15px;
        width: 340px;
      }

      .radio_buttons {
        margin-bottom: 15px;

        .label {
          display: block;
          padding: 8px 0 4px;
          font-weight: bold;
          color: #333;
        }

        div {
          position: relative;

          input[type=radio] {
            position: absolute;
            top: 1px;
            left: 2px;
            width: 15px;
            height: 13px;
            margin: 0;
            padding: 0;
          }

          label {
            padding: 3px 0 0 25px;
            font-weight: normal;
            color: #000;
          }
        }
      }
    }
  }
}
