
// http://www.webdesignerdepot.com/2012/10/creating-a-modal-window-with-html5-and-css3/

.portal {
  background-color: black;
  max-height: 100%;
  max-width: 100%;

  img {
    height: 100%;
    width: 100%;
  }

  .modalDialog {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity 400ms ease-in;

    z-index: 99999;

    .modalDialog:target {
      opacity: 1;
      pointer-events: auto;
    }

    .flip-panels {
      margin: 75px auto;
      transition: all 1s ease;
      -webkit-transition: all 1s ease;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      width: 600px;

      * {
        margin: 0 auto;
        width: 75%;
      }

      h1 {
        color: black;
        font-size: 1.75em;
        margin: 15px auto 25px auto;
        text-align: center;
        width: 100%;
      }

      #session_errors { margin-bottom: 20px; }

      #flash_messages {
        color: red;
        font-size: 1.5em;
        text-align: center;
        width: 100%;

        .flash.notice {
          font-size: 0.8em;
          font-weight: bold;
          color: black;
          margin: 0;
          width: 100%;
        }
      }

      form {

        input {
          display: block;
          font-size: 1.2em;
          height: 2em;
          margin: 0 auto 20px auto;
          padding-left: 10px;
          width: 100%;

          &[type="submit"] {
            background-color: #008800;
            border: none;
            border-radius: 10px;
            color: white;
            margin-top: 30px;
            width: 75%;
          }
        }
      }

      #back_to_login,
      #forgot_password {
        color: black;
        display: block;
        margin: 0 auto;
        text-align: center;
        width: 75%;
      }

      div.panel:last-of-type {
        transform: rotateY(180deg);
      }
    }

    .flip-container {
      position: relative;
      perspective: 1000;
    }

    #reset_panel {
      p {
        margin: 25px auto;
        width: 75%;
      }
    }

    #new_password_panel,
    #login_panel {
      p {
        margin: 25px auto;
        width: 100%;
      }
    }

    #new_password_panel,
    #login_panel,
    #reset_panel {
      background: rgba(255, 178, 31, 1.0);
      backface-visibility: hidden;
      border-radius: 10px;
      left: 0;
      overflow: auto;
      padding-bottom: 15px;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}
