
@import 'engine_variables';

.form-submission-fields {
  border: 1px solid #AAA;
  background-color: #ccc;
  margin-top: 20px;

  a {
    float: right;
    margin: 20px;
  }

  div {
    margin: 20px;
  }
}

.form-submission-fields.new-input {
  background-color: #ffb21f;

  #form_field_header {
    font-size: 1.75em;
    margin: 20px;
  }
}
