
@import 'engine_variables';

#penn_station_toolbar {
  background-color: $current_tab_color;
  box-shadow: 0 5px 5px #888888;
  color: #444;
  font-size: 1.25em;
  line-height: normal;
  margin: 0;
  padding: 0 0 0 15px;
  width: 100%;

  ol {
    list-style: none;
    margin: 0;
    padding: 3px 0;

    li {
      color: #29323b;
      height: 22px;
      margin: 0 0 10px 0;

      a {
        display: block;
        padding: 6px 0 0 25px;
        text-decoration: none;
      }
    }

    li:hover { a { text-decoration: underline; } }

    li.admin { background: url(image_path("add_admin.png")) no-repeat ; }

    li.admin:hover { background: url(image_path("add_admin_over.png")) no-repeat ; }

    li.page { background: url(image_path("reorder_pages.png")) no-repeat ; }

    li.page:hover { background: url(image_path("reorder_pages_over.png")) no-repeat ; }
  }
}

// desktop and tablet
@media screen and (min-width: 768px) {
  #penn_station_toolbar {
    padding: 15px 15px 5px 15px;
    width: grid-width(12,12);

    ol {
      float: left;
      margin: 0;
      padding: 0;
      width: grid-width(12,12);

      li {
        float: left;
        margin: 0 0 1px 0;
        width: grid-width(12,3);
      }
    }
  }
}

