
@import 'engine_variables';

#pennstation {
  #workspaces {
    clear: both;
    margin: 0;

    a:hover { text-decoration: underline; }

    #flash_messages {
      margin: 10px 0;
      border: green;
      background-color: #77FF77;

      .flash {
        margin: 0 0 15px 0;
        border-width: 1px;
        border-style: solid;
        padding: 4px;
      }
    }

    h1 {
      margin-left: 30px;
      padding: 0 0 5px 0;
      color: $h1_color;
    }

    header {
      background-color: $footer_background_color;
      opacity: 0.75;
      overflow: auto;
      padding: 0;

      ol {
        margin: 10px 0 0 0;
        padding: 0;

        & > li {
          background-color: #eee;
          border: 1px solid #eee;
          display: block;
          float: left;
          margin: 0;
          width: 155px;

          &.current { background-color: $current_tab_color; }
          &:hover { background-color: $current_tab_color; }
        }
      }

      #panel_chooser {
        float: left;
        margin-left: 15px;

        li { margin-right: 20px; }
      }

      #panel_actions {
        float: right;
        margin-right: 10px;

        li { margin-left: 20px; }
      }
    }

    #form_submissions,
    form {
      margin: 0; // 0 0 30px;
      padding: 0 10px 20px 0;

      dl,
      .field {
        margin: 0 0 20px 0;

        dt,
        label {
          color: #333;
          display: block;
          font-weight: bold;
          padding: 8px 0 4px 0;
        }

        dd,
        input,
        textarea {
          margin: 0;
        }
      }

      div.multiline-input {
        label {
          vertical-align: top;
        }

        select { width: 90%; }
      }

      input.checkbox { width: auto; }
    }

    .workspace {
      margin: 0 auto;
      width: 100%;

      header#panels {
        height: 100%;
        margin: 0 0 20px 0;
        padding: 0;
      }
    }
  }
}
