<% if page.errors.any? %>
  <div class="error_messages">
    <h2>Form is invalid</h2>
    <ul>
      <% for message in page.errors.full_messages %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render partial: "penn_station/pages/panels_header",
           locals: { page: page, sections: page.sections }
%>

<div class="panels">
  <%= render partial: "penn_station/pages/properties_panel", locals: { page: page } %>
  <%= render partial: "penn_station/sections/list", locals: { page: page } %>
</div>

<div style="clear: both;"></div>
