<% unless node.nil? %>
  <% page = node.content %>
  <li id="<%= page.id %>" class="row">
    <ol class="cols">
      <li class="title">
          <a href="<%= edit_page_path(page) %>"><%= page.title %>
            <%= image_tag("edit.png", class: "normal") %>
            <%= image_tag("edit_over.png", class: "hover") %>
          </a>
      </li>

      <li class="add-sub-page" style="clear: both;">
        <a href="<%= new_page_path(page: {parent_url: page.url}) %>">
          <%= image_tag("plus.png", class: "normal2") %>
          <%= image_tag("plus_over.png", class: "hover2") %>
          Add a sub-page
        </a>
      </li>

      <li class="details">
        <ol>
          <% if current_user.has_role?("pennstation_admin") %>
            <li class="page-type">
              <%= page.ptype %>
            </li>
          <% end %>

          <li class="published">
            <%= image_tag("check.png") if page.published %>
          </li>

          <li class="updated-at"><%= page.updated_at.in_time_zone("Eastern Time (US & Canada)").strftime("%m-%d-%Y@%I:%0l%P") %></li>
        </li>
      </ol>
    </ol>
  </li>

  <% if node.children.size > 0 %>
    <ol class="xcols">
      <% node.children.sort_by{|s| s.content.position}.map do |child| %>
        <%= render(:partial => "penn_station/pages/page_index_row", :locals => {:node => child}) %>
      <% end %>
    </ol>
  <% end %>
<% end %>
