
<header>
  <ol id="panel_chooser">
    <%= content_tag :li, 'Page Properties',
                         {
                           class: cookie_view_page_properties?(page) ? 'current' : nil,
                           'data-panel-id': "page_properties"
                         }
    %>

    <% unless page.new_record? %>
      <%= content_tag :li, 'Section Content',
                           {
                             class: cookie_view_content?(page) ? 'current' : nil,
                             'data-panel-id': "section_content"
                           }
      %>

      <%= content_tag :li, 'Section Properties',
                           {
                             class: cookie_view_section_properties?(page) ? 'current' : nil,
                             'data-panel-id': "section_properties"
                           }
      %>
    <% end %>
  </ol>

  <ol id="panel_actions">
    <li id="save">Save</li>
    <li id="preview">Save and Preview</li>
  </ol>

  <div style="clear: both;">&nbsp</div>
</header>
