
<% options = 'panel' %>
<% options += ' current' if cookie_view_page_properties?(@page) %>

<%= content_tag :div, { id: 'page_properties', class: options } do %>
  <h2>Page Properties</h2>

  <%=form_for page do |f| %>
    <%#= f.error_messages %>
    <%= f.hidden_field :parent_url %>

    <div>
      <%=f.label :title %>
      <%=f.text_field :title, :autofocus => (page.new_record?) ? true : false %>
    </div>

    <% if current_user.has_role?("pennstation_admin") %>
      <div>
        <%=f.label :ptype, 'Page Type' %>
        <%=f.text_field :ptype %>
      </div>
    <% end %>

    <% unless page.new_record? %>
      <div class="radio_buttons">
        <span class="label">Show in Navigation Menu?</span>
        <div>
          <%= f.radio_button :show_in_nav, "1", :checked => page.show_in_nav %>
          <%=f.label :show_in_nav, "Yes"%>
        </div>

        <div>
          <%= f.radio_button :show_in_nav, "0", :checked => !page.show_in_nav %>
          <%=f.label :show_in_nav, "No"%>
        </div>
      </div>

      <div class="radio_buttons">
        <span class="label">Publication status</span>
        <div>
          <%= f.radio_button :published, "1", :checked => page.published %>
          <%=f.label :published, "Published (visible to everyone)"%>
        </div>

        <div>
          <%= f.radio_button :published, "0", :checked => !page.published %>
          <%=f.label :published, "Draft (only visible to editors)"%>
        </div>
      </div>

      <div class="radio_buttons">
        <span class="label">Password Protected</span>
        <div>
          <%= f.radio_button :password_protected, "1", :checked => page.password_protected %>
          <%=f.label :password_protected, "Yes"%>
        </div>

        <div>
          <%= f.radio_button :password_protected, "0", :checked => !page.password_protected %>
          <%=f.label :password_protected, "No"%>
        </div>
      </div>

      <div class="radio_buttons">
        <span class="label">Show Share Widget?</span>
        <div>
          <%= f.radio_button :show_share_widget, "1", :checked => page.show_share_widget %>
          <%=f.label :show_share_widget, "Yes"%>
        </div>

        <div>
          <%= f.radio_button :show_share_widget, "0", :checked => !page.show_share_widget %>
          <%=f.label :show_share_widget, "No"%>
        </div>
      </div>

      <div id="seo_properties">
        <div>
          <%=f.label :seo_title %>
          <%= f.text_field :seo_title %>
        </div>

        <div>
          <%=f.label :seo_keywords %>
          <%= f.text_field :seo_keywords %>
        </div>

        <div>
          <%=f.label :seo_description %>
          <%= f.text_area :seo_description, :style => "height: 50px;"%>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
