
<% content_for :toolbar_links do %>
  <ol class="row">
    <li><a href="<%= pages_path %>">Back to all Pages</a></li>
  </ol>
<% end %>

<h1>Reorder pages</h1>
<p style="margin-bottom: 20px;">Drag and drop pages into desired order.</p>
<ol id="pages_sortable" class="sortable">
  <%= render(:partial => "penn_station/pages/reorder_page_index_row", :locals => {:node => @pages.root}) %>
</ol>

