<% content_for :toolbar_links do %>
  <ol class="row">
    <li><a href="<%= pages_path %>">Back to all Pages</a></li>
    <li><%= link_to "Delete this page", @page, method: :delete, data: { confirm: 'Are you sure?' }, class: "button delete_button" %></li>

    <% if current_user.has_role?("pennstation_admin") %>
      <li><%= link_to "Add new section", new_section_path(page_id: @page.id) %></li>
    <% end %>
  </ol>

  <% if current_user.has_role?("pennstation_admin") %>
  <% end %>
<% end %>

<div id="<%= controller.controller_name %>" data-page-url="<%= @page.url %>" data-page-id="<%= @page.id %>">
  <h1>Editing "<%= @page.title %>" Page</h1>
  <%= render :partial => "penn_station/pages/form", :locals => { :page => @page } %>
</div>
