
<% if params.has_key?('reorder') %>
  <%= render :partial => 'reorder' %>
<% else %>

  <% content_for :toolbar_links do %>
     <ol class="row">
       <li class="page"><a href="<%= pages_path(:reorder => 1) %>">Reorder Pages</a></li>
     </ol>
  <% end %>

  <h1>Manage <%= controller.controller_name %></h1>

  <ol id="<%= controller.controller_name %>_index" class="index">
    <li class="title-row row">
      <ol class="cols">
        <li class="title-row-col">Title</li>
        <li class="details">
          <ol>
            <% if current_user.has_role?("pennstation_admin") %>
              <li class="page-type">Page Type</li>
            <% end %>
            <li class="published">Published?</li>
            <li class="updated-at">Last Updated</li>
          </ol>
        </li>
      </ol>
    </li>

    <%= render(:partial => "penn_station/pages/page_index_row", :locals => {:node => @pages.root}) %>
  </ol>
<% end %>
