<% content_for :toolbar_links do %>
  <ol class="row">
    <li><a href="<%= pages_path %>">Back to all Pages</a></li>
  </ol>
<% end %>

<%= render 'penn_station/shared/flash_messages' unless flash.empty? %>

<%#= error_messages_for :page %>

<h1>Create a new <%= controller.controller_name.singularize %></h1>
<%= render(:partial => "penn_station/pages/form", :locals => {:page => @page}) %>
