<% content_for :toolbar_links do %>
  <li><a href="<%= pages_path %>">Back to all Pages</a></li>
  <li><%= link_to "Delete this page", @page, method: :delete, data: { confirm: 'Are you sure?' }, class: "button delete_button" %></li>
<% end %>

<div id="<%= controller.controller_name %>">
  <h1>Show <%= @page.title %></h1>
  <%= render(:partial => "penn_station/pages/form", :locals => {:page => @page}) %>
</div>
