<%= form_for slideshow do |f| %>
  <% if slideshow.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in slideshow.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :autofocus => (slideshow.new_record?) ? true : false, :readonly => !current_user.has_role?("pennstation_admin") %>
  </div>

  <div class="field">
    <%= f.label :image_size_note %>
    <%= f.text_field :image_size_note, :readonly => !current_user.has_role?("pennstation_admin") %>
  </div>

  <% if @current_user.has_role?("pennstation_admin") %>
    <div class="actions"><%= f.submit 'Save' %></div>
  <% end %>
<% end %>

<% unless slideshow.new_record? %>
  <form action="/admin/slides?slideshow_id=<%= @slideshow.name %>" class="dropzone" style="border: 2px solid black; min-height: 200px;">
    <div class="dz-default dz-message"><span>Drag-and-drop files here to upload, or click to browse files</span></div>
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  </form>

  <ol class="slides_gallery">
    <% slideshow.slides.each do |slide| %>
        <li>
          <a href="<%= slide.image.to_s %>" target="_blank"><img src="<%= slide.image.url(:thumb) %>"/></a>

          <%= link_to "Delete", slide, method: :delete, data: { confirm: 'Are you sure?' }, class: "obj_delete"  %>
          <%= link_to "Edit", edit_slide_path(slide), class: "obj_edit"  %>
        </li>
    <% end %>
  </ol>
<% end %>
