<% content_for :toolbar_links do %>
  <ol class="row">
    <li><%= link_to "Back to all media", media_path, class: "button delete_button" %></li>
    <% if @current_user.has_role?("pennstation_admin") %>
      <li><%= link_to "Delete this slideshow", @slideshow, method: :delete, data: { confirm: 'Are you sure?' }, class: "button delete_button" %></li>
    <% end %>
  </ol>
<% end %>

<div id="<%= controller.controller_name %>">
  <h1>Edit <%= @slideshow.name %></h1>
  <%= render(:partial => "penn_station/slideshows/form", :locals => {:slideshow => @slideshow}) %>
</div>
