
<% content_for :toolbar_links do %>
  <ol class="row">
    <li><%= link_to "Add a new slideshow", new_slideshow_path %></li>
  </ol>
<% end %>

<h1>Manage media</h1>

<ol id="<%= controller.controller_name %>_index" class="index">
  <li class="title-row row">
    <ol class="">
      <li class="name">Name</li>
      <li class="count">Number of Files</li>
    </ol>
  </li>

  <% @slideshows.each do |slideshow| %>
    <li id="<%= slideshow.id %>" class="row  <%= cycle("even", "odd") -%>">
      <ol class="cols">
        <li class="name"><a href="<%= edit_slideshow_path(slideshow) %>"><%= slideshow.name %> <%= image_tag("edit.png") %></a></li>
        <li class="count"><%= slideshow.slides.count %></li>
      </ol>
    </li>
  <% end %>
</ol>
