<% if @slideshows.empty? %>
  <p>There are currently no slideshows in the CMS</p>
<% else %>
  <ul>
    <% @slideshows.each do |slideshow| %>
    <li class="file-slideshow"><%= slideshow.name %>
        <%= content_tag :ul, slideshow.slides.map {|file| content_tag :li, link_to(File.basename(file.file.to_s), file.file.to_s, :class => '')}.join.html_safe %>
    </li>
    <% end %>
  </ul>

  <script type="text/javascript">
  $('#slide_list a').each(function(idx, link){
    var href = link.href.replace(window.location.protocol + '//' + window.location.host,'');
    if($('#slide_href').val() == href) $(link).addClass('current');
    $(link).click(function(e){
      $('#slide_href').val(href);
      $('#slide_list a').removeClass('current');
      $(this).addClass('current');
      return false; // equivalent to e.preventDefault() + e.stopPropagation()
    });
  });
  </script>
<% end %>
