<% content_for :toolbar_links do %>
  <ol class="row">
    <li><%= link_to "Back to all media", media_path, class: "button delete_button" %></li>
    <li><%= link_to "Back to folder", folder_path(@uploaded_file.folder) %></li>
    <li><%= link_to "Delete this uploaded_file", @uploaded_file, method: :delete, data: { confirm: 'Are you sure?' }, class: "button delete_button" %></li>
  </ol>
<% end %>

<div id="<%= controller.controller_name %>">
  <h1>Edit <%= @uploaded_file.label %></h1>
  <%= render(:partial => "penn_station/uploaded_files/form", :locals => {:uploaded_file => @uploaded_file}) %>
</div>
