
<% content_for :toolbar_links do %>
  <ol class="row">
    <li><%= link_to "Add a new uploaded_file", new_uploaded_file_path %></li>
  </ol>
<% end %>

<h1>Manage media</h1>

<ol id="<%= controller.controller_name %>_index" class="index">
  <li class="title-row row">
    <ol class="">
      <li class="label">Name</li>
      <li class="count">Number of Files</li>
    </ol>
  </li>

  <% @uploaded_files.each do |uploaded_file| %>
    <li id="<%= uploaded_file.id %>" class="row  <%= cycle("even", "odd") -%>">
      <ol class="cols">
        <li class="name"><a href="<%= edit_uploaded_file_path(uploaded_file) %>"><%= uploaded_file.name %> <%= image_tag("edit.png") %></a></li>
        <li class="count"><%= uploaded_file.uploaded_files.count %></li>
      </ol>
    </li>
  <% end %>
</ol>
