
<div id="main" class="content max-width">
  <%= yield :main %>

  <% if @search_error.present? %>
    <p id="search_error"><%= @search_error %></p>
  <% end %>

  <%= render :partial => 'search/form' %>

  <% if @results.present? %>
    <%= yield :results %>
  <% end %>
</div>
