
<% @page.sections.published.each do |section| %>
  <% unless section.is_form? %>
    <% section_sym = section.is_related_to_form? ? section.stype.underscore : section.scrub(:name).downcase %>
    <% content_for section_sym.to_sym do %>
      <%= section.content.html_safe %>
    <% end %>
  <% else %>
    <% content_for section.stype.to_sym do %>
      <%= render partial: 'penn_station/frontend/form_submissions/form',
                 locals: { page: @page,
                           submission_url: pages_path(action: 'create'),
                           form_submission: @form_obj,
                           section: section
                 }
      %>
    <% end %>
  <% end %>
<% end %>

