<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <%= favicon_link_tag 'favicon.ico' %>
    <title><%= defined?(::ORGANIZATION) ? ::ORGANIZATION : "" %></title>
    <%= stylesheet_link_tag "application", media: "all" %>

    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
  </head>

  <body data-page-type="missing_page">
    <div class="sticky-footer">
      <%= admin_toolbar(@page) if current_user %>

      <%= render partial: 'layouts/shared/header' %>

      <div class="content">
        <%= yield :missing %>
      </div>

      <div class="push"></div>
    </div>

    <%= render partial: 'layouts/shared/footer' %>
  </body>

  <%= javascript_include_tag "application" %>
</html>
