<%= form_for scheduled_event do |f| %>
  <% if scheduled_event.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in scheduled_event.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset id="calendars">
    <legend>Add the event to these calendars</legend>
    <div class="field">

      <%= link_to "Add/Manage calendars", penn_station.calendars_path %>
      <div class="calendars">
        <% PennStation::Calendar.all.each do |calendar| %>
          <div class="field">
            <%= check_box_tag :calendar_ids, calendar.id, false, :name => 'calendar[calendar_ids][]' %>
            <label><%= calendar.name %></label>
          </div>
        <% end %>
      </div>
    </div>
  </fieldset>

  <fieldset id="events">
    <legend>Event details</legend>
    <div class="field">
<!--
      <%#= link_to "Add/Manage event details", penn_station.events_path %>
-->
      <%= f.fields_for :events do |e| %>
<!--
        <%# unless PennStation::Event.count.zero? %>
          <div class="field">
            <%#= e.label :name %>
            <%#= select("", "event_id", PennStation::Event.all.order('name').collect {|p| [ p.name, p.id ] } ) %>
          </div>
        <%# end %>
-->

        <div class="field">
          <%= e.label :name %>
          <%= e.text_field :name %>
        </div>

        <div class="field">
          <%= e.label :summary %>
          <%= e.text_field :summary %>
        </div>

        <div class="field">
          <%= e.label :description %>
          <%= e.text_area :description , :id => "description", :class => "tinymce", :rows => 10, :cols => 100 %>
        </div>
      <% end %>
    </div>
  </fieldset>

  <fieldset id="event_dates">
  <legend>Event date/time info</legend>
    <div>
      <div class="field">
        <%= f.label :starts_at %>
        <%= f.date_select :starts_at, {order: [:month, :day, :year]} %>
      </div>

      <div class="field">
        <%= f.label :ends_at %>
        <%= f.date_select :ends_at, {order: [:month, :day, :year]} %>
      </div>
    </div>

    <div class="field">
      <%= f.label :times %>
      <%= f.text_area :times ,:rows => 10, :cols => 40 %>
    </div>
  </fieldset>

  <fieldset id="location">
    <legend>Location</legend>
    <%= f.fields_for :locations do |l| %>
      <div class="field">
        <% unless PennStation::Location.count.zero? %>
          <%= l.label :name %>
          <%= select("", "location_id", PennStation::Location.all.order('name').collect {|p| [ p.name, p.id ] } ) %>
        <% end %>

        <div class="field">
          <%= l.label :name %>
          <%= l.text_field :name %>
        </div>

        <div class="address">
          <%= l.fields_for :addresses do |a| %>
            <% unless PennStation::Address.count.zero? %>
              <%= a.label :address, 'Existing Addresses' %>
              <%= select("", "address_id", PennStation::Address.all.order('address1').collect {|p| [ "#{p.address1}, #{p.address2}, #{p.city}, #{p.state}, #{p.zipcode}", p.id ] } ) %>
            <% end %>

            <div class="field">
              <%= a.label :address1 %>
              <%= a.text_field :address1 %>
            </div>

            <div class="field">
              <%= a.label :address2 %>
              <%= a.text_field :address2 %>
            </div>

            <div class="field">
              <%= a.label :city %>
              <%= a.text_field :city %>
            </div>

            <div class="field">
              <%= a.label :state %>
              <%= a.text_field :state %>
            </div>

            <div class="field">
              <%= a.label :zipcode %>
              <%= a.text_field :zipcode %>
            </div>

            <div class="field">
              <%= a.label :directions %>
              <%= a.text_area :directions,:rows => 10, :cols => 100 %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </fieldset>

  <div class="actions"><%= f.submit 'Save' %></div>
<% end %>

