<% content_for :toolbar_links do %>
  <% if current_user.has_role?("admin") %>
    <li class="event"><a href="<%= new_event_path %>">Add a new event</a></li>
  <% end %>
<% end %>

<ol id="events_index" class="index">
  <li class="title-row row">
    <ol class="">
      <li class="name">Name</li>
      <li class="status">Status</li>
      <li class="starts_at">Starts At</li>
      <li class="calendar">Calendar</li>
    </ol>
  </li>

  <% scheduled_events.each do |scheduled_event| %>
<%# binding.pry %>
<%# next if event.scheduled_events.empty? %>
    <li id="<%= scheduled_event.id %>" class="row <%= cycle("even", "odd") -%>">
      <ol class="cols">
        <li class="name"><a href="<%= edit_scheduled_event_path(scheduled_event) %>"><%= scheduled_event.event.name %> <%= image_tag("edit.png") %></a></li>
        <li class="status"><%= scheduled_event.status %></li>
        <li class="starts_at"><%= scheduled_event.starts_at %></li>
        <li class="starts_at"><%= scheduled_event.calendars.map(&:name).join(', ') %></li>
      </ol>
    </li>
  <% end %>
</ol>
