
<% content_for :toolbar_links do %>
  <li><a href="<%= events_path %>">Back to all events</a></li>
  <% if current_user.has_role?("admin") %>
    <li><%= link_to "Delete this event", @event, method: :delete, data: { confirm: 'Are you sure?' }, class: "button delete_button" %></li>
  <% end %>
<% end %>

<div id="<%= controller.controller_name %>">
  <% if current_user.has_role?("admin","pennstation_admin") %>
    <h1>Manage <%= @event.name %></h1>
    <%= render(:partial => "penn_station/events/form", :locals => {:event => @event}) %>
  <% else %>
    <h1>Show <%= @event.name %></h1>
    <%= render(:partial => "penn_station/events/form", :locals => {:event => @event}) %>
  <% end %>
</div>
