<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= defined?(::ORGANIZATION) ? ::ORGANIZATION : "" %> Missing Page</title>

    <%= stylesheet_link_tag  "application", media: "all" %>

    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>

    <!-- The commented-out markup below is for iOS/Android bookmarking icons-->
    <!--
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="196x196" href="">
    <link rel="apple-touch-icon" sizes="152x152" href="">
    -->
  </head>

  <body data-page-type="missing_page">
    <div class="sticky-footer">
      <%= admin_toolbar(@page) if current_pennstation_user %>

      <%= render partial: find_shared_partial('header') %>
      <%= render partial: find_shared_partial('navigation.primary') %>

      <div class="content" style="border: 2px solid red;">
        <%= yield :missing %>
      </div>

      <div class="push"></div>
    </div>

    <%= render partial: find_shared_partial('footer') %>

    <%= google_analytics_embed_code_from_db %>
  </body>

  <%= javascript_include_tag "application" %>
</html>
