<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <% if @page.present? %>
      <%= seo_meta_tags %>
      <%= seo_title(@page, defined?(::ORGANIZATION) ? ::ORGANIZATION : "") %>
    <% end %>

    <%= stylesheet_link_tag "penn_station/backend", media: "all" %>
    <%= stylesheet_link_tag "application", media: "all" %>

    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>

    <!-- The commented-out markup below is for iOS/Android bookmarking icons-->
    <!--
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="196x196" href="">
    <link rel="apple-touch-icon" sizes="152x152" href="">
    -->

  </head>

  <body data-page-type="<%= controller.controller_name.singularize %>">
    <div class="sticky-footer">
      <%= render partial: find_shared_partial('header') %>
      <%= render partial: find_shared_partial('navigation.primary') %>

      <div class="portal frontend-portal">
        <%= yield %>
      </div>

      <div class="push"></div>
    </div>

    <%= render partial: find_shared_partial('footer') %>

    <%= google_analytics_embed_code_from_db %>
  </body>

  <%= javascript_include_tag "application" %>
</html>
