  <% fields = section.content.nil? ? [] : JSON.parse(section.content)["fields"] %>
  <% recipients = section.content.nil? ? '' : JSON.parse(section.content)["recipients"] %>

  <%= form_for section do |f| %>
    <%= hidden_field_tag :page_id, section.page_id %>

    <h4><%= section.stype.underscore.humanize.split(' ').map{|m| m.capitalize}.join(' ') %> Fields</h4>

    <% unless section.is_form?('Search') %>
      <div>
        <%= label_tag 'Recipients' %>
        <%= text_field_tag "section[content][recipients]", "recipients", value: recipients %>
      </div>
    <% end %>

    <% fields.each do |form_field| %>
      <div class="form-submission-fields">
        <%= link_to "Delete", section_form_field_path(section,form_field['input_name']), method: :delete, data: { confirm: 'Are you sure?' } %>

        <div>
          <%= label_tag 'Label' %>
          <%= text_field_tag "section[content][#{form_field['input_name']}][input_label]", "input_label", value: form_field['input_label'] %>
        </div>

        <div>
          <%= label_tag 'Name' %>
          <%= text_field_tag "section[content][#{form_field['input_name']}][input_name]", "input_name", value: form_field['input_name'] %>
        </div>

        <div>
          <%= label_tag 'Type' %>
          <%= text_field_tag "section[content][#{form_field['input_name']}][input_type]", "input_type", value: form_field['input_type'] %>
        </div>

        <div>
          <%= label_tag 'Validation' %>
          <%= text_field_tag "section[content][#{form_field['input_name']}][input_validation]", "validation", value: form_field['input_validation'] %>
        </div>
      </div>
    <% end %>

    <div class="form-submission-fields new-input">
      <div id="form_field_header">Add a New Form Field</div>

      <div>
        <%= label_tag 'Label' %>
        <%= text_field_tag "section[content][_new][input_label]" %>
      </div>

      <div>
        <%= label_tag 'Name' %>
        <%= text_field_tag "section[content][_new][input_name]" %>
      </div>

      <div>
        <%= label_tag 'Type' %>
        <%= text_field_tag "section[content][_new][input_type]" %>
      </div>

      <div>
        <%= label_tag 'Validation' %>
        <%= text_field_tag "section[content][_new][input_validation]" %>
      </div>
    </div>
  <% end %>

