
<h1>Manage Form Submissions</h1>

<ol id="<%= controller.controller_name %>_index" class="index">
  <li class="title-row row">
    <ol class="">
      <% if @form_count > 1 %>
        <li class="type">Type</li>
      <% end %>
      <li class="name">Name</li>
      <li class="email">Email</li>
      <li class="updated_at">Received</li>
    </ol>
  </li>

  <% @form_submissions.each do |form_submission| %>
    <li id="<%= form_submission.id %>" class="row  <%= cycle("even", "odd") -%>">
      <ol class="cols">
        <% if @form_count > 1 %>
          <li class="type"><%= form_submission.id %></li>
        <% end %>
        <li class="name"><a href="<%= form_submission_path(form_submission) %>"><%= form_submission.get_name %></a></li>
        <li class="email"><%= form_submission.get_email %></li>
        <li class="updated_at"><%= formatted_date(form_submission.updated_at) %></li>
      </ol>
    </li>
  <% end %>
</ol>
