<% content_for :toolbar_links do %>
  <ol class="row">
    <li><%= link_to "Back to all form submissions", form_submissions_path, class: "button delete_button" %></li>
    <li><%= link_to "Delete this form submission", @form_submission, method: :delete, data: { confirm: 'Are you sure?' }, class: "button delete_button" %></li>
  </ol>
<% end %>

<div id="<%= controller.controller_name %>" class="show">
  <h1>Show <%= @form_submission.get_name %></h1>

  <% JSON.parse(@form_submission.submitted_values).keys.each do |field_name| %>
    <dl>
      <dt><%= field_name.capitalize %></dt>
      <dd style="white-space: pre-line;"><%= @form_submission.send("get_#{field_name}") %></dd>
    </dl>
  <% end %>

  <% if @form_count > 1 %>
    <dl>
      <dt>Form Type</dt>
      <dd class="type"><%= @form_submission.id %></dd>
    </dl>
  <% end %>

  <dl>
    <dt>Received</dt>
    <dd class="updated_at"><%= formatted_date(@form_submission.updated_at) %></dd>
  </dl>
</div>
