
<%= content_for(:main) do %>
  <%= @page.sections.find_by_stype('Main').content.html_safe %>
<% end %>

<%= content_for(:results) do %>
  <% unless @search_error.present? %>
    <%= @page.sections.find_by_stype('Results').content.html_safe %>

    <div class="search-result-group">
      <p><%= pluralize(@results[:pages].size, 'result') + " found for \"#{params[:search_term]}\"" %></p>

      <% if @results[:pages].any? %>
        <% @results[:pages].each do |result| %>
          <p><%= link_to result.title, result.url %></p>
        <% end %>
      <% end %>
    </div>

    <% if @results.has_key?(:blog_posts) %>
      <div class="search-result-group">
        <h3>Blog Posts</h3>
        <p><%= pluralize(@results[:blog_posts].size, 'result') + " found for \"#{params[:search_term]}\"" %></p>

        <% if @results[:blog_posts].any? %>
          <% @results[:blog_posts].each do |result| %>
            <p><%= link_to result.title, "/blog?post_id=#{result.id}" %></p>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
