<div class="modalDialog js-portal">
  <div class="flip-panels js-flip-panels">
    <div id="new_password_panel">
      <%= form_for @user, url: @password_reset_path do |f| %>

        <h1><%= @title %> Change Password</h1>

        <p>Enter a new password. Password must be at least 8 characters.</p>

        <div id="session_errors">
          <% unless flash.empty? %>
            <%= render 'penn_station/shared/flash_messages' %>
          <% end %>
        </div>

        <%= f.password_field :password, { autofocus: true, placeholder: 'Password' } %>
        <%= f.password_field :password_confirmation, { placeholder: 'Password Confirmation' } %>

        <%= f.submit "Update Password" %>
      <% end %>
    </div>
  </div>
</div>
