
<% content_for :login_panel do %>
  <div id="login_panel" class="panel <%= 'xback-panel' if params.has_key?(:reset) %>">
    <h1><%= @title %> Login</h1>

    <div id="session_errors">
      <% unless params.has_key?(:reset) %>
      <% unless flash.empty? %>
        <%= render 'penn_station/shared/flash_messages' %>
      <% end %>
      <% end %>
    </div>

    <%= form_tag @sessions_path do %>
      <%= text_field_tag :email, params[:email], { autofocus: true, placeholder: 'Email' } %>
      <%= password_field_tag :password, nil, { placeholder: 'Password' } %>

      <%= submit_tag "Log In" %>
    <% end %>

    <%= link_to "Forgot your password?", '#', { id: 'forgot_password' } %>
  </div>
<% end %>

<% content_for :reset_panel do %>
  <div id="reset_panel" class="panel <%= 'xback-panel' unless params.has_key?(:reset) %>">
    <h1><%= @title %> Password Reset</h1>

    <p>Enter your email address and we'll send a link for resetting your password.</p>

    <div id="session_errors">
      <% if params.has_key?(:reset) %>
        <% unless flash.empty? %>
          <%= render 'penn_station/shared/flash_messages' %>
        <% end %>
      <% end %>
    </div>

    <%= form_tag @password_resets_path, method: :post, id: 'admin_password_reset' do %>
      <%= text_field_tag :email, params[:email], { autofocus: true, placeholder: 'Email' } %>
      <%= submit_tag "Reset Password" %>
    <% end %>

    <%= link_to "Back to login", '#', { id: 'back_to_login' } %>
  </div>
<% end %>

<div class="modalDialog js-portal">
  <div class="flip-container">
    <div class="flip-panels js-flip-panels">
      <% unless params.has_key?(:reset) %>
        <%= yield :login_panel %>
        <%= yield :reset_panel %>
      <% else %>
        <%= yield :reset_panel %>
        <%= yield :login_panel %>
      <% end %>
    </div>
  </div>
</div>
