<% content_for :toolbar_links do %>
  <ol class="row">
    <li><%= link_to "Back to all calendars", calendars_path, class: "button delete_button" %></li>
    <li><%= link_to "Delete this calendar", @calendar, method: :delete, data: { confirm: 'Are you sure?' }, class: "button delete_button" %></li>
  </ol>
<% end %>

<div id="<%= controller.controller_name %>">
  <h1>Edit <%= @calendar.name %></h1>
  <%= render(:partial => "penn_station/calendars/form", :locals => {:calendar => @calendar}) %>
</div>
