<% content_for :toolbar_links do %>
  <li><%= link_to "Back to all calendars", calendars_path, class: "button delete_button" %></li>
<% end %>

<h1>Create a new calendar</h1>
<%= render(:partial => "penn_station/calendars/form", :locals => {:calendar => @calendar}) %>
