
<%= content_tag :section, id: section.css_idify, class: classes(section) do %>

    <%# show any form errors. %>

  <% if (@form_obj.respond_to?(:errors) && @form_obj.errors.present?) %>
    <%= content_tag :section, id: section.css_idify + "_error", class: classes(section) + ' form-error' do %>
      <%= yield("#{section.stype}Error".underscore.to_sym) %>
    <% end %>
  <% end %>

    <%# if no form has been submited yet or a form was submitted and there are errors %>
    <%# present, then show the form.                                                  %>
    <%# else show the success message. %>

  <% if @form_obj.nil? || (@form_obj.respond_to?(:errors) && @form_obj.errors.present?) %>
    <%= yield section.stype.underscore.to_sym %>
  <% else %>
    <%= content_tag :section, id: section.css_idify + "_success", class: classes(section) + ' form-success' do %>
      <%= yield "#{section.stype}Success".underscore.to_sym %>
    <% end %>
  <% end %>
<% end %>
