
<% no_breadcrumbs ||= false %>
<%= breadcrumb_trail(@page, { id: 'breadcrumbs' }) unless @page.home_page? or no_breadcrumbs %>

<main class="content">
  <% in_group_section = false %>
  <% in_form_group_section = false %>

  <% @page.sections.published.orderable.each do |section| %>
    <% if section.is_a_group? %>
      <%= "</div>".html_safe if in_group_section %>

      <div id="<%= section.css_idify %>" class="<%= classes(section, 'group-section') %>">
      <% in_group_section = true %>
      <% in_form_group_section = (section.stype == 'FormGroupSection') %>
    <% else %>
      <% if in_form_group_section %>
        <% next unless (section.stype == 'Heading') or section.is_form? or section.is_related_to_form? or @form_obj.nil? %>
      <% end %>

      <%= render partial: find_section_partial(section), locals: { section: section } %>
    <% end %>
  <% end %>

  <%= "</div>".html_safe if in_group_section %>
</main>
