<%= form_for user do |f| %>
  <% if user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :autofocus => (user.new_record?) ? true : false %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <% if user.respond_to?(:roles) %>
    <div class="field">
      <%= f.label :role, "Roles" %>
      <div class="roles">
        <%= f.fields_for :roles do |r| %>
          <% if current_user.has_role?(r.object.name) %>
            <div class="field">
              <%= r.check_box :name, { checked: r.object.persisted? }, r.object.name, false  %>
              <%= r.label r.object.name %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="actions"><%= f.submit 'Save' %></div>
<% end %>

