<% content_for :toolbar_links do %>
  <ol class="row">
    <li><a href="<%= users_path %>">Back to all users</a></li>
    <% if current_user.has_role?("admin") %>
      <li><%= link_to "Delete this user", @user, method: :delete, data: { confirm: 'Are you sure?' }, class: "button delete_button" %></li>
    <% end %>
  </ol>
<% end %>

<h1>Edit <%= @user.name %></h1>
<%= render(:partial => "penn_station/users/form", :locals => {:user => @user}) %>
