<% content_for :toolbar_links do %>
  <ol class="row">
    <% if current_user.has_role?("admin") %>
      <li class="user"><a href="<%= new_user_path %>">Add a PennStation user</a></li>

      <% PennStation::Page.with_password_protection.each do |page| %>
        <% klass = page.ptype %>
        <%# require "pry"; binding.pry %>
        <li class="user"><%= link_to "Add a #{klass.gsub('::','').titleize.downcase}", eval("penn_station.new_#{klass.gsub('::','').singularize.underscore}_path") %></li>
      <% end %>
    <% end %>
  </ol>
<% end %>

<h1>Manage PennStation users</h1>

<ol id="<%= controller.controller_name %>_index" class="index">
  <li class="title-row row">
    <ol class="">
      <li class="name">Name</li>
      <li class="email">Email</li>
      <li class="updated_at">Last Updated</li>
    </ol>
  </li>

  <% @users.each do |user| %>
    <li id="<%= user.id %>" class="row <%= cycle("even", "odd") -%>">
      <ol class="cols">
        <li class="name">
            <a href="<%= edit_user_path(user) %>"><%= user.name %>
              <%= image_tag("edit.png", class: "normal") %>
              <%= image_tag("edit_over.png", class: "hover") %>
            </a>
          </li>
        <li class="email"><%= user.email %></li>
        <li class="updated_at"><%= formatted_date(user.updated_at) %></li>
      </ol>
    </li>
  <% end %>
</ol>

<% PennStation::Page.with_password_protection.each do |page| %>
  <% klass = page.ptype %>
  <h1>Manage <%= klass.gsub('::','').titleize %>s</h1>

  <ol id="<%= controller.controller_name %>_index" class="index">
    <li class="title-row row">
      <ol class="">
        <li class="name">Name</li>
        <li class="email">Email</li>
        <li class="updated_at">Last Updated</li>
      </ol>
    </li>

    <% klass.constantize.order(:name).each do |user| %>
      <li id="<%= user.id %>" class="row <%= cycle("even", "odd") -%>">
        <ol class="cols">
          <li class="name">
              <a href="<%= send("edit_#{klass.underscore}_path", user) %>"><%= user.name %>
                <%= image_tag("edit.png", class: "normal") %>
                <%= image_tag("edit_over.png", class: "hover") %>
              </a>
            </li>
          <li class="email"><%= user.email %></li>
          <li class="updated_at"><%= formatted_date(user.updated_at) %></li>
        </ol>
      </li>
    <% end %>
  </ol>
<% end %>
