<% content_for :toolbar_links do %>
  <li><a href="<%= users_path %>">Back to all users</a></li>
<% end %>

<h1>Create a new user</h1>
<%= render(:partial => "penn_station/users/form", :locals => {:user => @user}) %>
