
<% content_for :toolbar_links do %>
  <li><a href="<%= users_path %>">Back to all users</a></li>
  <% if current_user.has_role?("admin") %>
    <li><%= link_to "Delete this user", @user, method: :delete, data: { confirm: 'Are you sure?' }, class: "button delete_button" %></li>
  <% end %>
<% end %>

<div id="<%= controller.controller_name %>">
  <% if current_user.has_role?("admin","pennstation_user") %>
    <h1>Manage <%= @user.name %></h1>
    <%= render(:partial => "penn_station/users/form", :locals => {:user => @user}) %>
  <% else %>
    <h1>Show <%= @user.name %></h1>
    <%= render(:partial => "penn_station/users/form", :locals => {:user => @user}) %>
  <% end %>
</div>
