<% content_for :missing do %>
  <div id="missing_page" style="font-size: 3em; margin: 100px; 0; text-align: center;">
    <p>Page '<%= params[:url] %>' was not found.</p>
    <p>Click <%=link_to 'here', root_path %> to go to the Home page.</p>
  </div>
<% end %>
